body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00b7ff
p
  color: #0cb7d5
h1
  color: #000000
  &:hover
    color: #b316f4

.foo {
  div {
    h3 {
      color: #1cc82c
    }
  }
}
